<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por usuarios</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por usuarios por año</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por docentes</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>