<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por año</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Historico</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por carrera</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>