<tr>
    <td>{IdRol}</td>
    <td>{Nombre}</td>
    <td>
        <div class="btn-group">
            <a href="/admin/detail_role/{IdRol}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="/admin/update_role/{IdRol}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-wrench"></span>
            </a>
            <a href="/admin/delete_role/{IdRol}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </td>
</tr>