<tr>
    <td>{IdPermiso}</td>
    <td>{Controlador}</td>
    <td>{Accion}</td>
    <td>{Descripcion}</td>
    <td>
        <div class="btn-group">
            <a href="/admin/detail_perm/{IdPermiso}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="/admin/update_perm/{IdPermiso}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-wrench"></span>
            </a>
            <a href="/admin/delete_perm/{IdPermiso}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </td>
</tr>