<tr>
    <td>{Nombre}</td>
    <td>{Hojas}</td>
    <td>
        <input class="chkAnillado" type="checkbox" name="chkAnillado" value="{IdItem}" {Anillado} disabled="disabled" />
    </td>
    <td>
        <input class="chkAbrochado" type="checkbox" name="chkAbrochado" value="{IdItem}" {Abrochado} disabled="disabled" />
    </td>
    <td>
        <input class="chkSimpleFaz" type="checkbox" name="chkSimpleFaz" value="{IdItem}" {SimpleFaz} disabled="disabled" />
    </td>
    <td>
        <input class="chkImpreso" type="checkbox" name="chkImpreso" value="{IdItem}" {Impreso} />
    </td>
</tr>