<tr>
    <td>{IdPedido}</td>
    <td>{Legajo}</td>
    <td>{Apellido}</td>
    <!-- <td>{Comentario}</td> -->
    <td>{Posicion}</td>
    <td>{Retiro}</td>
    <td>{Franja}</td>
    <td>
        <input class="chkEntregado" type="checkbox" name="chkEntregado" value="{IdPedido}" />
        <!-- <div class="btn-group">
            <a href="index.php?do=/atpublico/update/{IdPedido}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-wrench"></span>
            </a>
        </div> -->
    </td>
</tr>