<tr>
    <td>{IdGabinetePedido}</td>
    <td>{Legajo}</td>
    <td>{Retiro}</td>
    <td>{Estado}</td>
    <td>{Creado}</td>
    <td>
        <div class="btn-group">
            <a href="index.php?do=/pedidos/detail/{IdGabinetePedido}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="index.php?do=/pedidos/delete/{IdGabinetePedido}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </td>
</tr>