<tr>
    <td>{IdPedido}</td>
    <!-- <td>{Comentario}</td> -->
    <td>{Estado}</td>
    <!-- <td>{Creado}</td> -->
    <td>{Retiro}</td>
    <td>{FranjaHoraria}</td>
    <td>{Precio}</td>
    <td>
        <div class="btn-group">
            <a href="index.php?do=/estudiante/detail/{IdPedido}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <!-- {button_update} -->
            {button_delete}
        </div>
    </td>
</tr>