<!-- Comprobante Cliente -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <img class="img-responsive" src="/public/img/logo3.png" alt="Apuntec Logo" />
        </div>
        <div class="col-xs-6 col-md-6">
            <img class="img-responsive" src="/public/img/ceit_logo.png" alt="Ceit Logo" />
        </div>
    </div>
</div>
<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos de la persona</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <p class="col-xs-4 col-md-4">
                    <strong>Legajo:</strong> {Legajo}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>DNI:</strong> {DNI}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Telefono:</strong> {Telefono}
                </p>
            </div>
            <div class="row">
                <p class="col-xs-4 col-md-4">
                    <strong>Nombre:</strong> {Nombre}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Apellido:</strong> {Apellido}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Celular:</strong> {Celular}
                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos del pedido</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <p class="col-xs-4 col-md-4">
                    <strong>N&ordm; pedido:</strong> {IdPedido}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Creado:</strong> {Creado}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Entrega:</strong> {Retiro} {Franja}
                </p>
                
            </div>
        </div>
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Item</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Hojas</th>
                                <th>Anillado</th>
                                <th>Abrochado</th>
                                <th>Simple Faz</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{Descripcion}</td>
                                <td>{CantidadHojas}</td>
                                <td>{Anillado}</td>
                                <td>{Abrochado}</td>
                                <td>{SimpleFaz}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Divisor -->
<div class="well" style="height: 20em;"></div>
<!-- Comprobante Negocio -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <img class="img-responsive" src="/public/img/logo3.png" alt="Apuntec Logo" />
        </div>
        <div class="col-xs-6 col-md-6">
            <img class="img-responsive" src="/public/img/ceit_logo.png" alt="Ceit Logo" />
        </div>
    </div>
</div>
<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos de la persona</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <p class="col-xs-4 col-md-4">
                    <strong>Legajo:</strong> {Legajo}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>DNI:</strong> {DNI}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Telefono:</strong> {Telefono}
                </p>
            </div>
            <div class="row">
                <p class="col-xs-4 col-md-4">
                    <strong>Nombre:</strong> {Nombre}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Apellido:</strong> {Apellido}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Celular:</strong> {Celular}
                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos del pedido</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <p class="col-xs-4 col-md-4">
                    <strong>N&ordm; pedido:</strong> {IdPedido}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Creado:</strong> {Creado}
                </p>
                <p class="col-xs-4 col-md-4">
                    <strong>Entrega:</strong> {Retiro} {Franja}
                </p>
            </div>
            <div class="row">
                <p class="col-xs-4 col-md-4">
                    <strong>Cantidad Hojas:</strong>
                </p>
                <p class="col-xs-8 col-md-8">
                    <input class="form-control" type="text" />
                </p>
            </div>
        </div>
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Item</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Hojas</th>
                                <th>Anillado</th>
                                <th>Abrochado</th>
                                <th>Simple Faz</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{Descripcion}</td>
                                <td>{CantidadHojas}</td>
                                <td>{Anillado}</td>
                                <td>{Abrochado}</td>
                                <td>{SimpleFaz}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-11 col-md-1">
            <a class="btn btn-default hidden-print" href="#" onclick="window.print();" role="button">
                <span class="glyphicon glyphicon-print"></span> Imprimir
            </a>
        </div>
    </div>
</div>