<!-- Comprobante Cliente -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <img class="img-responsive" src="/public/img/logo3.png" alt="Apuntec Logo" />
        </div>
        <div class="col-xs-6 col-md-6">
            <img class="img-responsive" src="/public/img/ceit_logo.png" alt="Ceit Logo" />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos del pedido</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <p class="col-xs-12 col-md-12">
                    <strong>N&ordm; pedido:</strong> {IdPedido}
                </p>
            </div>
            <div class="row">
                <p class="col-xs-6 col-md-6">
                    <strong>Creado:</strong> {Creado}
                </p>
                <p class="col-xs-6 col-md-6">
                    <strong>Entrega:</strong> {Retiro} {Franja}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Divisor -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!-- Comprobante Negocio -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <img class="img-responsive" src="/public/img/logo3.png" alt="Apuntec Logo" />
        </div>
        <div class="col-xs-6 col-md-6">
            <img class="img-responsive" src="/public/img/ceit_logo.png" alt="Ceit Logo" />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos del pedido</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <p class="col-xs-6 col-md-6">
                    <strong>N&ordm; pedido:</strong> {IdPedido}
                </p>
                <!-- <p class="col-xs-6 col-md-6">
                    <strong>Hojas:</strong>
                    <input class="form-control" type="text" />
                </p> -->
            </div>
            <div class="row">
                <p class="col-xs-6 col-md-6">
                    <strong>Creado:</strong> {Creado}
                </p>
                <p class="col-xs-6 col-md-6">
                    <strong>Entrega:</strong> {Retiro} {Franja}
                </p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-md-12">
                    <strong>Descripcion</strong> {Descripcion}
                </p>
            </div>
            <div class="row">
                <p class="col-xs-4 col-md-4">
                    <strong>Hojas:</strong>
                </p>
                <p class="col-xs-8 col-md-8">
                    <input class="form-control" type="text" />
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-11 col-md-1">
            <a class="btn btn-default hidden-print" href="#" onclick="window.print();" role="button">
                <span class="glyphicon glyphicon-print"></span> Imprimir
            </a>
        </div>
    </div>
</div>