<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Detalle del operario:</h2>
    </div>
    <div class="panel-body">
        <form id="frmDetalleUsuario" class="form-horizontal" name="frmDetalleUsuario" method="POST" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="txtUsuario">Usuario</label>
                <div class="col-sm-4">
                    <p class="form-control-static">{IdUsuario}</p>
                </div>
                <label class="col-sm-2 control-label" for="ddlRol">Rol</label>
                <div class="col-sm-4">
                    <select id="ddlRol" class="form-control" name="ddlRol" disabled="disabled">
                        {combo_rol}
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="txtUsuario" class="col-sm-2 control-label">Usuario:</label>
                <div class="col-sm-4">
                    <p class="form-control-static">{Usuario}</p>
                    
                </div>
                <label for="txtDNI" class="col-sm-2 control-label">DNI:</label>
                <div class="col-sm-4">
                    <p class="form-control-static">{DNI}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="txtNombre">Nombre</label>
                <div class="col-sm-4">
                    <p class="form-control-static">{Nombre}</p>
                </div>
                <label class="col-sm-2 control-label" for="txtApellido">Apellido</label>
                <div class="col-sm-4">
                    <p class="form-control-static">{Apellido}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="txtNombre">Telefono</label>
                <div class="col-sm-4">
                    <p class="form-control-static">{Telefono}</p>
                </div>
                <label class="col-sm-2 control-label" for="txtApellido">Celular</label>
                <div class="col-sm-4">
                    <p class="form-control-static">{Celular}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="txtEmail" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-4">
                    <p class="form-control-static">{Email}</p>
                </div>
                <div class="col-sm-offset-2 col-sm-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="chkEmailValido" {EmailValidado} disabled="disabled"> &iquest;Correo valido?
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-11 col-sm-1">
                    <a class="btn btn-default" href="index.php?do=/admin/oper_index" role="button">
                        <span class="glyphicon glyphicon-arrow-left"></span> Volver
                    </a>    
                </div>
            </div>
        </form>
    </div>
</div>