<tr>
    <td>{CodigoInterno}</td>
    <td>{Carrera}</td>
    <td>{Materia}</td>
    <td>{Titulo}</td>
    <td>{Autor}</td>
    <td>{Paginas}</td>
    <td>{Precio}</td>
    <td>{Activo}</td>
    <td>{Creado}</td>
    <td>
        <div class="btn-group">
            <a href="/textos/detail/{IdTexto}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="/textos/update/{IdTexto}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-wrench"></span>
            </a>
            <a href="/textos/delete/{IdTexto}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </td>
</tr>