<div class="panel panel-success">
  <div class="panel-heading">
      <h3 class="panel-title">&iexcl;Carga existosa!</h3>
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-sm-2">
              <p class="text-right">
                  <strong>N&ordm; pedido:</strong>
              </p>
          </div>
          <div class="col-sm-4">
              <p>{IdPedido}</p>
          </div>
          <div class="col-sm-2">
              <p class="text-right">
                  <strong>Retiro:</strong>
              </p>
          </div>
          <div class="col-sm-4">
              <p>{Retiro}</p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-2">
              <p class="text-right">
                  <strong>Descripcion:</strong>
              </p>
          </div>
          <div class="col-sm-4">
              <p>{Nombre}</p>
          </div>
          <div class="col-sm-2">
              <p class="text-right">
                  <strong>Hojas:</strong>
              </p>
          </div>
          <div class="col-sm-4">
              <p>{Hojas}</p>
          </div>
      </div>
      <div class="row">
            <div class="col-sm-offset-10 col-sm-2">
                <a class="btn btn-default" href="index.php?do=/estudiante/index" role="button">Volver</a>
            </div>
        </div>
  </div>
</div>