<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Confirmar pedido</h3>
    </div>
    <form class="form-horizontal" method="POST" role="form">
        <div class="panel-body">
            <div class="well well-sm">
                <p class="lead">Franja Horaria</p>
                <p>Seleccionar fecha y franja horaria a partir de la cual va a pasar a retirar el pedido. No va a poder elegir opciones donde ya haya muchos pedidos por hacer.</p>
            </div>
            <div class="form-group">
                <!-- <label for="txtComentario" class="col-sm-2 control-label">Comentario:</label>
                <div class="col-sm-4">
                    <textarea id="txtComentario" class="form-control" name="txtComentario" rows="3" readonly="readonly">{Comentario}</textarea>
                </div> -->
                <label for="txtRetiro" class="col-sm-2 control-label">Retiro</label>
                <div class="col-sm-4">
                    <input id="txtRetiro" class="form-control" type="text" name="txtRetiro" value="{DiaRetiro}" readonly="readonly">
                </div>
                <label for="ddlFranja" class="col-sm-2 control-label">Franja horaria</label>
                <div class="col-sm-4">
                    <select id="ddlFranja" class="form-control" name="ddlFranja">
                        {combo_franja}
                    </select>
                </div>
            </div>
            <div class="form-group">

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Titulo</th>
                        <th>Anillado</th>
                        <th>Abrochado</th>
                        <th>Simple Faz</th>
                        <!-- <th>Cantidad</th> -->
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {table_detail}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <label for="chkAnilladoCompleto" class="col-sm-offset-6 col-sm-2 control-label">&iquest;Anillado Completo?</label>
                <div class="col-sm-1">
                    <div class="checkbox">
                        <input type="checkbox" name="chkAnilladoCompleto" disabled="disabled" {TodoAnillado}>
                    </div>
                </div>
                <label for="txtSubTotal" class="col-sm-1 control-label">Subtotal</label>
                <div class="col-sm-2">
                    <input id="txtSubTotal" class="form-control" type="number" name="txtSubTotal" value="{SubTotal}" readonly="readonly" placeholder="Subtotal"/>
                </div>
            </div>
            <div class="form-group">
                <label for="btnSi" class="col-sm-offset-6 col-sm-4 control-label">&iquest;Son correctos los items del pedido?</label>
                <div class="col-sm-2">
                    <button id="btnSi" class="btn btn-success" type="submit" name="btnSi">Si</button>
                    <a id="btnNo" class="btn btn-danger" href="index.php?do=/estudiante/create" role="button">No</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('#txtRetiro').datepicker({
        minDate: "{DiaRetiro}",
        dateFormat: "yy-mm-dd",
        showAnim: "slideDown",
        beforeShowDay: $.datepicker.noWeekends
    });
</script>