<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Mi pedido</h3>
    </div>
    <form class="form-horizontal" name="frmDetallePedido" method="POST" role="form">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Titulo</th>
                        <th>Anillado</th>
                        <th>Abrochado</th>
                        <th>Simple Faz</th>
                        <th>Paginas</th>
                        <th>Precio</th>
                        <!-- <th>Cantidad</th> -->
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {table_text_added}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-3">
                    <div class="well well-sm">
                        <p class="lead">Precios:</p>
                        <ul>
                            <li>
                                <strong>Anillado:</strong> {PrecioAnillado}
                            </li>
                            <li>
                                <strong>Doble Faz:</strong> {PrecioCEIT}
                            </li>
                            <li>
                                <strong>Simple Faz:</strong> {PrecioSimpleFaz}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-offset-3 col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input style="margin: 0px; width: 1.5em; height: 1.5em;" id="chkAnilladoCompleto" type="checkbox" name="chkAnilladoCompleto"> Anillar todo como un solo apunte ({PrecioAnillado})
                            <input id="hidPrecioAnillado" type="hidden" value="{PrecioAnillado}" />
                            <input id="hidPrecioSimpleFaz" type="hidden" value="{PrecioSimpleFaz}" />
                            <input id="hidPrecioCEIT" type="hidden" value="{PrecioCEIT}" />
                        </label>
                    </div>
                </div>
                <label for="txtSubTotal" class="col-sm-1 control-label">Subtotal</label>
                <div class="col-sm-2">
                    <input id="txtSubTotal" class="form-control" type="number" name="txtSubTotal" readonly="readonly" placeholder="Subtotal">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-11 col-sm-1">
                    <button id="btnConfirmar" class="btn btn-success" type="submit" formaction="index.php?do=/estudiante/create_confirm">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Busqueda</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline" name="frmFiltroPedido" method="POST" role="form">
            <div class="form-group">
                <label class="sr-only" for="ddlCarrera">Carreras</label>
                <select id="ddlCarrera" class="form-control" name="ddlCarrera">
                    <option selected="selected" disabled="disabled">Carrera</option>
                    {combo_carrera}
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="ddlNivel">Niveles</label>
                <select id="ddlNivel" class="form-control" name="ddlNivel">
                    <option selected="selected" disabled="disabled">Nivel</option>
                    {combo_nivel}
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="ddlMateria">Materias</label>
                <select id="ddlMateria" class="form-control" name="ddlMateria">
                    <option selected="selected" disabled="disabled">Materias</option>
                    {combo_materia}
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="ddlMateria">Contenidos</label>
                <select id="ddlContenido" class="form-control" name="ddlContenido">
                    <option selected="selected" disabled="disabled">Contenidos</option>
                    {combo_contenido}
                </select>
            </div>
            <button id="btnFiltrar" class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-filter"></span> Filtrar
            </button>
        </form>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Resultados</h3>
    </div>
    <div class="panel-body">
        <form name="frmTextos" method="POST" role="form">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Docente</th>
                            <th>Paginas</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {table_content}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Previsualizaci&oacute;n del texto</h4>
            </div>
            <div class="modal-body">
                <img id="modalImage" class="img-responsive center-block" src="" alt="Imagen" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // Desactivo los controles al principio para despues habilitarlos.
        $('#ddlNivel').attr('disabled', true);
        $('#ddlMateria').attr('disabled', true);

        // Muestro el subtotal
        /*var subTotal = 0;
         
         $('tr.itemPedidoDetalle').each(function(index, item) {
         var value = $('.itemPrecio', item).text();
         //var quantity = $('.itemCantidad', item).val();
         subTotal += value * 1; //quantity;
         });
         
         $('#txtSubTotal').val(subTotal.toFixed(2));*/
        var countAnillado = 0;
        var countSimpleFaz = 0;
        var anillado = $('#hidPrecioAnillado').val();
        var simpleFaz = $('#hidPrecioSimpleFaz').val();
        var subTotal = 0;

        $('.chkAnillado').each(function(index, item) {
            if (item.checked) {
                countAnillado++;
                $('#chkAnilladoCompleto').prop('checked', false);
            }
        });

        $('.chkSimpleFaz').each(function(index, item) {
            if (item.checked) {
                countSimpleFaz++;
            }
        });

        $('tr.itemPedidoDetalle').each(function(index, item) {
            var value = $('.itemPrecio', item).text();
            subTotal += parseFloat(value);
        });

        $('#txtSubTotal').val((subTotal + (countAnillado * anillado) + (countSimpleFaz * simpleFaz)).toFixed(2));
    });

    $('.btnPreview').each(function(index, value) {
        $(value).click(function() {
            $('#modalImage').attr('src', this.value);
            $('#myModal').modal('show');
        });
    });

    $('#ddlCarrera').change(function() {
        $.ajax({
            type: 'POST',
            url: 'index.php?do=/estudiante/ajax_get_niveles',
            data: 'idCarrera=' + $('#ddlCarrera').val(),
            success: function(data, textStatus, jqXHR) {
                // Limpio los DDL foraneos.
                $('#ddlNivel').empty();
                $('#ddlNivel').append($('<option>').text('Niveles').attr('disabled', true));
                $('#ddlMateria').empty();
                $('#ddlMateria').append($('<option>').text('Materias').attr('disabled', true));

                // Parseo el JSON y agrego los datos en el DLL
                $.parseJSON(data).map(function(value, key) {
                    $('#ddlNivel').append($('<option>').val(value.IdNivel).text(value.Descripcion));
                });

                // Habilito el DDL hijo.
                $('#ddlNivel').removeAttr('disabled');

                // Coloco el indice por fuera del rango.
                $('#ddlNivel').prop('selectedIndex', -1);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('error');
            }
        });
    });

    $('#ddlNivel').change(function() {
        $.ajax({
            type: 'POST',
            url: 'index.php?do=/estudiante/ajax_get_materias',
            data: 'idNivel=' + $('#ddlNivel').val(),
            success: function(data, textStatus, jqXHR) {
                // Limpio el DDL foraneo,
                $('#ddlMateria').empty();
                $('#ddlMateria').append($('<option>').text('Materias').attr('disabled', true));

                // Parseo el JSON y agrego los items al DDL.s
                $.parseJSON(data).map(function(value) {
                    $('#ddlMateria').append($('<option>').val(value.IdMateria).text(value.Descripcion));
                });

                // Habilito el DDL hijo.
                $('#ddlMateria').removeAttr('disabled');

                // Coloco el indice por fuera del rango.
                $('#ddlMateria').prop('selectedIndex', -1);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('error');
            }
        });
    });

    /*$('.itemCantidad').change(function() {
     var subTotal = 0;
     
     $('tr.itemPedidoDetalle').each(function(index, item) {
     var value = $('.itemPrecio', item).text();
     var quantity = $('.itemCantidad', item).val();
     subTotal += value * quantity;
     });
     
     $('#txtSubTotal').val(subTotal.toFixed(2));
     });*/

    $('#chkAnilladoCompleto').change(function() {
        if (this.checked) {
            $('.chkAnillado').each(function(index, item) {
                $(item).prop('checked', false);
            });

            $(".chkAbrochado").each(function(index, item) {
                $(item).prop("checked", false);
            });

            var subTotal = 0;
            var anillado = $('#hidPrecioAnillado').val();

            $('tr.itemPedidoDetalle').each(function(index, item) {
                var value = $('.itemPrecio', item).text();
                subTotal += parseFloat(value);
            });

            $('#txtSubTotal').val((subTotal + parseInt(anillado)).toFixed(2));
        } else {
            var subTotal = 0;

            $('tr.itemPedidoDetalle').each(function(index, item) {
                var value = $('.itemPrecio', item).text();
                subTotal += parseFloat(value);
            });

            $('#txtSubTotal').val(subTotal.toFixed(2));
        }
    });

    $('.chkAnillado, .chkAbrochado, .chkSimpleFaz').change(function() {
        var countAnillado = 0;
        //var countSimpleFaz = 0;
        var acumSimpleFaz = 0;
        var anillado = $('#hidPrecioAnillado').val();
        var simpleFaz = $('#hidPrecioSimpleFaz').val();
        var precioCeit = $('#hidPrecioCEIT').val();
        var subTotal = 0;

        $('.chkAnillado').each(function(index, value) {
            if (value.checked) {
                countAnillado++;
                $($(".chkAbrochado")[index]).prop("checked", false);
                $('#chkAnilladoCompleto').prop('checked', false);
            }
        });

        $(".chkAbrochado").each(function(index, item) {
            if(item.checked) {
                $($(".chkAnillado")[index]).prop("checked", false);
                $('#chkAnilladoCompleto').prop('checked', false);
            }
        });

        $('.chkSimpleFaz').each(function(index, value) {
            if (value.checked) {
                //countSimpleFaz++;
                //console.debug($(value).parent("td").parent("tr").find(".itemPrecio").text());
                $(value).parent("td").parent("tr").find(".itemPrecio").text(parseFloat($(value).parent("td").parent("tr").find(".itemPaginas").text() * simpleFaz).toFixed(2)); 
            } else {
                $(value).parent("td").parent("tr").find(".itemPrecio").text(parseFloat($(value).parent("td").parent("tr").find(".itemPaginas").text() * precioCeit).toFixed(2)); 
            }
        });

        $('tr.itemPedidoDetalle').each(function(index, item) {
            var value = $('.itemPrecio', item).text();
            subTotal += parseFloat(value);
        });

        $('#txtSubTotal').val((subTotal + (countAnillado * anillado) + acumSimpleFaz /*(countSimpleFaz * simpleFaz)*/).toFixed(2));
    });
</script>