<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Cancelar pedido</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline" name="frmCancelarPedido" method="POST">
            <p>&iquest;Esta seguro que desea cancelar el pedido {IdPedido}?</p>
            <div class="form-group">
                <button class="btn btn-danger" type="submit" name="btnCancelar">
                    <span class="glyphicon glyphicon-remove"></span> Borrar
                </button>
                <a class="btn btn-default" href="index.php?do=/estudiante/index" role="button">
                    <span class=""></span> Volver
                </a>
            </div>
        </form>
    </div>
</div>