<tr>
    <td>{CodigoInterno}</td>
    <!-- <td>{Carrera}</td> -->
    <td>{Materia}</td>
    <td>{Titulo}</td>
    <td>{Autor}</td>
    <td>{Paginas}</td>
    <!-- <td>{Precio}</td> -->
    <td>
        <input type="checkbox" {Activo} disabled="disabled">
    </td>
    <td>{Creado}</td>
    <td>
        <div class="btn-group">
            <a href="index.php?do=/textos/detail/{IdTexto}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="index.php?do=/textos/update/{IdTexto}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-wrench"></span>
            </a>
            {button_delete}
        </div>
    </td>
</tr>