<div class="well well-sm">
    &iquest;Desea crear un <a href="index.php?do=/admin/roles_create/" class="btn btn-success" role="button">nuevo rol</a>?
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Roles</h3>
    </div>
    <div class="panel-body">        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descipcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {table_rol_content}
                </tbody>
            </table>
        </div>
    </div>
</div>