<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Mi pedido</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="frmDetallePedido" method="POST" role="form">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Opciones</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="txtComentario" class="col-sm-2 control-label">Comentario</label>
                            <div class="col-sm-10">
                                <textarea id="txtComentario" class="form-control" name="txtComentario" rows="3" placeholder="Alguna anotacion al respecto del pedido..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <div class="checkbox">
                                    <label>
                                        <input id="chkAnilladoCompleto" type="checkbox" name="chkAnilladoCompleto"> Anillado completo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <p class="lead">Items</p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Titulo</th>
                                <th>Anillado</th>
                                <th>Simple Faz</th>
                                <th>Paginas</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {table_text_added}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label for="txtSubTotal" class="col-sm-offset-9 col-sm-1 control-label">Subtotal</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="txtSubTotal" readonly="readonly" placeholder="Subtotal">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-11 col-sm-1">
                    <button id="btnConfirmar" class="btn btn-success" type="submit" formaction="index.php?do=/pedidos/create_confirm">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Filtros</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline" name="frmFiltroPedido" method="POST" role="form">
            <div class="form-group">
                <label class="sr-only" for="ddlCarrera">Carreras</label>
                <select id="ddlCarrera" class="form-control" name="ddlCarrera">
                    <option selected="selected" disabled="disabled">Carrera</option>
                    {combo_carrera}
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="ddlNivel">Niveles</label>
                <select id="ddlNivel" class="form-control" name="ddlNivel">
                    <option selected="selected" disabled="disabled">Nivel</option>
                    {combo_nivel}
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="ddlMateria">Materias</label>
                <select id="ddlMateria" class="form-control" name="ddlMateria">
                    <option selected="selected" disabled="disabled">Materias</option>
                    {combo_materia}
                </select>
            </div>
            <button id="btnFiltrar" class="btn btn-success" type="submit">Filtrar</button>
        </form>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Resultados</h3>
    </div>
    <div class="panel-body">
        <form name="frmTextos" method="POST" role="form">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Docente</th>
                        <th>Paginas</th>
                        <th>Precio</th>
                        <th>Agregar</th>
                    </tr>
                </thead>
                <tbody>
                    {table_content}
                </tbody>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    // Desactivo los controles al principio para despues habilitarlos.
    $.ready(function() {
        $('#ddlNivel').attr('disabled', true);
        $('#ddlMateria').attr('disabled', true);
    });
    
    $('#ddlCarrera').change(function() {
        $.ajax({
            type: 'POST',
            url: 'index.php?do=/pedidos/ajax_get_niveles',
            data: 'idCarrera=' + $('#ddlCarrera').val(),
            success: function(data, textStatus, jqXHR) {
                // Limpio los DDL foraneos.
                $('#ddlNivel').empty();
                $('#ddlNivel').append($('<option>').text('Niveles').attr('disabled', true));
                $('#ddlMateria').empty();
                $('#ddlMateria').append($('<option>').text('Materias').attr('disabled', true));

                // Parseo el JSON y agrego los datos en el DLL
                $.parseJSON(data).map(function(value, key) {
                    $('#ddlNivel').append($('<option>').val(value.IdNivel).text(value.Descripcion));
                });

                // Habilito el DDL hijo.
                $('#ddlNivel').removeAttr('disabled');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('error');
            }
        });
    });

    $('#ddlNivel').change(function() {
        $.ajax({
            type: 'POST',
            url: 'index.php?do=/pedidos/ajax_get_materias',
            data: 'idNivel=' + $('#ddlNivel').val(),
            success: function(data, textStatus, jqXHR) {
                // Limpio el DDL foraneo,
                $('#ddlMateria').empty();
                $('#ddlMateria').append($('<option>').text('Materias').attr('disabled', true));

                // Parseo el JSON y agrego los items al DDL.s
                $.parseJSON(data).map(function(value) {
                    $('#ddlMateria').append($('<option>').val(value.IdMateria).text(value.Descripcion));
                });

                // Habilito el DDL hijo.
                $('#ddlMateria').removeAttr('disabled');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('error');
            }
        });
    });

    $('.itemCantidad').change(function() {
        var subTotal = 0;

        $('tr.itemPedidoDetalle').each(function(index, item) {
            var value = $('.itemPrecio', item).text();
            var quantity = $('.itemCantidad', item).val();
            subTotal += value * quantity;
        });

        $('#txtSubTotal').val(subTotal);
    });
    
    $('#chkAnilladoCompleto').change(function() {
        if(this.checked)
        {
            $('.chkAnillado').each(function(index, item) {
                $(item).prop('checked', false);
            });
        }
    });
</script>