<tr>
    <td>{Cantidad}</td>
    <td>{Codigo}</td>
    <td>{Nombre}</td>
    <td>{Materia}</td>
    <td>{Hojas}</td>
    <td>
        <input class="chkImpreso" type="checkbox" name="chkImpreso" value="{IdItem}" {SimpleFaz} disabled="disabled" />
    </td>
    <td>
        <input class="chkImpreso" type="checkbox" name="chkImpreso" value="{IdItem}" {Anillado} disabled="disabled" />
    </td>
    <td>
        <input class="chkImpreso" type="checkbox" name="chkImpreso" value="{IdItem}" {Impreso} disabled="disabled" />
    </td>
</tr>