<tr>
    <td>{IdItem}</td>
    <td>{Cantidad}</td>
    <td>{Codigo}</td>
    <td>{Nombre}</td>
    <td>{Docente}</td>
    <td>{Materia}</td>
    <td>{Hojas}</td>
    <td>{Costo}</td>
    <td>
        <div class="btn-group">
            <a class="btn btn-default" href="/data/{TipoAccion}/{RutaArchivo}" role="button">
                <span class="glyphicon glyphicon-print"></span>
            </a>
            <a class="btn btn-default" href="/pedidos/detail_item/{IdItem}" role="button">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </td>
</tr>