{create_panel}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Mis pedidos</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline" name="frmMisPedidos" method="POST" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="sr-only" for="ddlEstado">Estado</label>
                    <select class="form-control" name="ddlEstado">
                        {combo_estados}
                    </select>    
                </div>
                <button type="submit" class="btn btn-default">Filtrar</button>
            </fieldset>
        </form>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Resultados</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>N&ordm;</th>
                    <!-- <th>Comentario</th> -->
                    <th>Estado</th>
                    <!-- <th>Creado</th> -->
                    <th>Retiro</th>
                    <th>Desde</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {table_content}
            </tbody>
        </table>
    </div>
</div>