<tr>
    <td>{IdPedido}</td>
    <td>{Comentario}</td>
    <td>{Retiro}</td>
    <td>{Estado}</td>
    <td>{Creado}</td>
    <td>
        <div class="btn-group">
            <a href="/pedidos/detail/{IdPedido}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            {button_update}
            <a href="/pedidos/delete/{IdPedido}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </td>
</tr>