<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Datos</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="frmDetalleUsuario" method="POST" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="txtIdPedido">N&ordm; de pedido</label>
                    <div class="col-sm-4">
                        <input id="txtIdPedido" class="form-control" name="txtIdPedido" type="text" value="{IdPedido}" disabled="disabled" />
                    </div>
                    <label class="col-sm-2 control-label" for="txtCreado">Creado</label>
                    <div class="col-sm-4">
                        <input id="txtCreado" class="form-control" name="txtCreado" type="text" value="{Creado}" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="ddlEstado">Estado</label>
                    <div class="col-sm-4">
                        <select name="ddlEstado" class="form-control">
                            {combo_estado_pedido}
                        </select>
                    </div>
                    <label class="col-sm-2 control-label" for="txtRetiro">Retiro</label>
                    <div class="col-sm-2">
                        <input id="txtRetiro" class="form-control" name="txtRetiro" type="text" value="{Retiro}" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="chkAnillado">Anillado</label>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <input id="chkAnillado" type="checkbox" name="chkAnillado" value="{Anillado}" disabled="disabled" />
                        </div>
                    </div>
                    <label class="col-sm-offset-3 col-sm-2 control-label">Franja</label>
                    <div class="col-sm-2">
                        <select class="form-control" name="ddlFranja" disabled="disabled">
                            {combo_franja_horario}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="txtComentario">Comentario</label>
                    <div class="col-sm-4">
                        <textarea id="txtComentario" class="form-control" name="txtComentario" rows="4" disabled="disabled">{Comentario}</textarea>
                    </div>
                    <label class="col-sm-2 control-label" for="txtPosicion">Posicion</label>
                    <div class="col-sm-4">
                        <textarea id="txtPosicion" class="form-control" name="txtPosicion" rows="4">{Posicion}</textarea>
                    </div>
                </div>
            </fieldset>
            <button class="btn btn-warning" type="submit">Modificar</button>
            <button class="btn btn-default" type="button">Volver</button>
        </form>
    </div>
</div>