<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por apuntes</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por articulos de libreria</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por fotocopias sueltas</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Por gabinete</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>