<tr>
    <td>
        {Id}
        <input name="hidIdUnique[]" type="hidden" value="{IdUnique}" />
        <input name="hidId[{IdUnique}]" type="hidden" value="{Id}" />
        <input name="hidType[{IdUnique}]" type="hidden" value="{Tipo}">
    </td>
    <td>
        {Descripcion}
        <input name="hidDescripcion[{IdUnique}]" type="hidden" value="{Descripcion}" />
    </td>
    <td>
        {PrecioUnitario}
        <input name="hidPrecioUnitario[{IdUnique}]" type="hidden" value="{PrecioUnitario}" />
    </td>
    <td>
        {Cantidad}
        <input name="hidCantidad[{IdUnique}]" type="hidden" value="{Cantidad}" />
    </td>
    <td>
        {Importe}
        <input name="hidImporte[{IdUnique}]" type="hidden" value="{Importe}" />
    </td>
</tr>