<tr>
    <td>
        {Id}
        <input name="hidId[]" type="hidden" value="{Id}" />
        <input name="hidType[{Id}]" type="hidden" value="{Tipo}">
    </td>
    <td>
        {Descripcion}
        <input name="hidDescripcion[{Id}]" type="hidden" value="{Descripcion}" />
    </td>
    <td>
        {PrecioUnitario}
        <input name="hidPrecioUnitario[{Id}]" type="hidden" value="{PrecioUnitario}" />
    </td>
    <td>
        {Cantidad}
        <input name="hidCantidad[{Id}]" type="hidden" value="{Cantidad}" />
    </td>
    <td>
        {Importe}
        <input name="hidImporte[{Id}]" type="hidden" value="{Importe}" />
    </td>
</tr>