<tr>
    <td>
        {IdPedido}
        <input name="hidIdPedido[]" type="hidden" value="{IdPedido}" />
    </td>
    <td>
        {Descripcion}
        <input name="hidDescripcion[{IdPedido}]" type="hidden" value="{Descripcion}" />
    </td>
    <td>
        {PrecioUnitario}
        <input name="hidPrecioUnitario[{IdPedido}]" type="hidden" value="{PrecioUnitario}" />
    </td>
    <td>
        {Cantidad}
        <input name="hidCantidad[{IdPedido}]" type="hidden" value="{Cantidad}" />
    </td>
    <td>
        {Importe}
        <input name="hidImporte[{IdPedido}]" type="hidden" value="{Importe}" />
    </td>
    <td>
        <input name="hidType" type="hidden" value="Pedido" />
        <button class="btn btn-danger btn-sm" type="submit" name="btnQuitarPedido" value="{IdPedido}">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </td>
</tr>